/*
    Lumia_DatePicker: a lightweight jQuery date picker plugin
*/

.Lumia_DatePicker *, .Lumia_DatePicker *:after, .Lumia_DatePicker *:before {
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
}
.Lumia_DatePicker {
	position: absolute;
	background: #666;
	border: 3px solid #666;
	display: none;
	z-index: 99999;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.Lumia_DatePicker * {
	margin: 0;
	padding: 0;
	color: #000;
	background: transparent;
	border: none
}
/* = GLOBALS
----------------------------------------------------------------------------------------------------------------------*/
.Lumia_DatePicker table {
	border-collapse: collapse;
	border-spacing: 0
}
.Lumia_DatePicker td, .Lumia_DatePicker th {
	text-align: center;
	padding: 5px 0
}
.Lumia_DatePicker td {
	cursor: pointer
}
.Lumia_DatePicker .dp_daypicker, .Lumia_DatePicker .dp_monthpicker, .Lumia_DatePicker .dp_yearpicker {
	margin-top: 3px
}
.Lumia_DatePicker .dp_daypicker td, .Lumia_DatePicker .dp_daypicker th, .Lumia_DatePicker .dp_monthpicker td, .Lumia_DatePicker .dp_yearpicker td {
	background: #E8E8E8;
	width: 30px;
	border: 1px solid #7BACD2
}
.Lumia_DatePicker, .Lumia_DatePicker .dp_header .dp_hover, .Lumia_DatePicker .dp_footer .dp_hover {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}
/* = HEADER
----------------------------------------------------------------------------------------------------------------------*/
.Lumia_DatePicker .dp_header td {
	color: #FFF
}
.Lumia_DatePicker .dp_header .dp_previous, .Lumia_DatePicker .dp_header .dp_next {
	width: 30px
}
.Lumia_DatePicker .dp_header .dp_caption {
	font-weight: bold
}
.Lumia_DatePicker .dp_header .dp_hover {
	background: #222;
	color: #FFF
}
.Lumia_DatePicker .dp_header .dp_blocked {
	color: #888;
	cursor: default
}
/* = DATEPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Lumia_DatePicker .dp_daypicker th {
	background: #FFCC33
}
.Lumia_DatePicker td.dp_not_in_month {
	background: #F3F3F3;
	color: #CDCDCD;
	cursor: default
}
.Lumia_DatePicker td.dp_not_in_month_selectable {
	background: #F3F3F3;
	color: #CDCDCD;
	cursor: pointer
}
.Lumia_DatePicker td.dp_weekend {
	background: #D8D8D8
}
.Lumia_DatePicker td.dp_weekend_disabled {
	color: #CCC;
	cursor: default
}
.Lumia_DatePicker td.dp_selected {
	background: #5A4B4B;
	color: #FFF !important
}
.Lumia_DatePicker td.dp_week_number {
	background: #FFCC33;
	color: #555;
	cursor: text;
	font-style: italic
}
/* = MONTHPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Lumia_DatePicker .dp_monthpicker td {
	width: 33%
}
/* = YEARPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Lumia_DatePicker .dp_yearpicker td {
	width: 33%
}
/* = FOOTER
----------------------------------------------------------------------------------------------------------------------*/
.Lumia_DatePicker .dp_footer {
	margin-top: 3px
}
.Lumia_DatePicker .dp_footer .dp_hover {
	background: #222;
	color: #FFF
}
/* = SELECT CURRENT DAY
----------------------------------------------------------------------------------------------------------------------*/
.Lumia_DatePicker .dp_today {
	color: #FFF;
	padding: 3px
}
/* = CLEAR DATE
----------------------------------------------------------------------------------------------------------------------*/
.Lumia_DatePicker .dp_clear {
	color: #FFF;
	padding: 3px
}
/* = SOME MORE GLOBALS (MUST BE LAST IN ORDER TO OVERWRITE PREVIOUS PROPERTIES)
----------------------------------------------------------------------------------------------------------------------*/
.Lumia_DatePicker td.dp_current {
	color: #C40000
}
.Lumia_DatePicker td.dp_disabled_current {
	color: #E38585
}
.Lumia_DatePicker td.dp_disabled {
	background: #F3F3F3;
	color: #CDCDCD;
	cursor: default
}
.Lumia_DatePicker td.dp_hover {
	background: #482424;
	color: #FFF
}
/* = ICON
----------------------------------------------------------------------------------------------------------------------*/
button.Lumia_DatePicker_Icon {
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	background: url(../images/calendar.png) no-repeat left top;
	text-indent: -9000px;
	border: none;
	cursor: pointer;
	padding: 0;
	line-height: 0;
	vertical-align: top
}
button.Lumia_DatePicker_Icon_Disabled {
	background-image: url('../images/calendar-disabled.png')
}
/* don't set vertical margins! */
button.Lumia_DatePicker_Icon {
	margin: 0 0 0 3px
}
button.Lumia_DatePicker_Icon_Inside {
	margin: 0 3px 0 0
}
